*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*/*.*
*/*/*/*/*/*/*.*
*/*/*/*/*/*.*
*/*/*/*/*.*
*/*/*/*.*
*/*/*.*
*/*.*
*.*
!/**/*.c
!/**/*.h
!/**/Makefile
!/**/makefile
!/**/Makefile.inc
!/**/makefile.inc
!.gitignore